.newclient-main-container {
    text-align: center;
    width: 100%;
}
form {
    margin: auto;
    width: fit-content;
}

.personal-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60rem;
    align-items: center;
}

@media (max-width: 768px) {
    .personal-info-container {
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }
}

h3 {
    text-align: left;
    margin-bottom: 0;
    margin-top: 2rem;
}

.direccion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .direccion-container {
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }
}

.btn-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14rem;
    height: fit-content; 
    margin: auto;
    margin-top: 2rem;
}

.alt-btn {
    height: fit-content;
}

.validate-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mapa-container {
    margin: auto;
}

